.progress {
    border: 10px solid rgb(41, 40, 40);
    border-top: 10px solid red;
    /* box-shadow: -1px -1px 0px 0px; */
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg);
        /* border-top: 10px solid red; */
    }
    
    
    50% { 
        border-top: 10px solid rgb(7, 212, 69);
    }
    
    
    100% { 
        transform: rotate(360deg);
        border-top: 10px solid red;
    }
}